<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="libs/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="libs/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="libs/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .email-form {
            width: 500px;
            margin: 0 auto;
        }

        .email-form textarea {
            width: 100%;
        }
    </style>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<form ng-submit="submit()" class="email-form" ng-controller="MailController">
    <label for="emails">Correos:</label>

    <div>
        <textarea name="emails" id="emails" ng-model="emails"></textarea>
    </div>

    <div>
        <input type="submit" value="Enviar Invitaciones"/>
    </div>
</form>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="libs/angular/angular.js"></script>
<script src="libs/angular-route/angular-route.js"></script>
<script src="app.js"></script>

<script>
    angular
            .module('myApp')
            .controller('MailController', function ($scope, $http, MailFactory) {

//                $scope.emails = 'troyaluis56@gmail.com;luis.troya@cibersys.com;yorman.castellanos@cibersys.com;david.luna@cibersys.com';
                $scope.emails = 'franklin.roldan@cibersys.com; ' +
                                'josuheryc.galindo@cibersys.com;' +
                                'edgar.soto@cibersys.com; ' + 
                                'yorman.castellanos@cibersys.com;' + 
                                'luis.troya@cibersys.com; ' +
                                'robert.power@cibersys.com; ' +
                                'luis.mejias@cibersys.com; '



                                

                                 ;

                $scope.submit = function () {
                    var mailFile = $http.get('correos-tarjetas-de-presentacion/email-recuperar-clave-definitivo.html')
                    mailFile.success(function (file) {
                        console.log(file);

                        var email = {
                            body: file,
                            to: $scope.emails,
                            subject: "Cibersys - Recuperación de Contraseña",
                            from: "Cibersys TDP <noreply@cibersys.com>"
                        };

                        MailFactory.sendInvitation(email).then(function () {
                            console.warn('Email enviado correctamente');
                        }, function() {
                            console.error('Error al enviar el email');
                        })


                    });
                    mailFile.error(function (err) {
                        console.error(err);
                    });


                }
            })
            .factory('MailFactory', function ($http, $q) {
                var factory = {};

                factory.sendInvitation = function (email) {

                    //var userInfo = Userdata.getData();
                    //sharingInfo = sharingInfo.replace(/\"/g, '%22');

                    var uri = 'https://api.cibersys.com/mailgn/mailSender.php',
                            deferred = $q.defer(),
                            config = {
                                transformRequest: angular.identity,
                                headers: {'Content-Type': undefined}
                            };

                    console.log('Email:', email);
                    var fd = new FormData();
                    fd.append('to', email.to);
                    fd.append('from', email.from);
                    fd.append('subject', email.subject);
                    fd.append('body', email.body);



                    $http.post(uri, fd, config)
                            .success(function (data) {
                                console.debug('El correo fue enviado con exito');
                                deferred.resolve(data);
                            })
                            .error(function (err) {
                                console.error('Error al enviar el correo', err);
                                deferred.reject(err);
                            });
                    return deferred.promise;
                };

                return factory;
            });
</script>
</body>
</html>
